
/*############ Reset Styling ############## */

* {
	outline: none
}


/*############ General Styling ############ */

body {
	font-size: 18px;
	font-family: Arial;
	font-weight: 500;
	color: #222222;
}


h1 {
	font-size: 200%;
	width: 100%;
	border-bottom: 1px solid black;
	padding-bottom: 5px;
}
