@font-face {
  font-family: 'ruminate';
  src:  url('/fonts/icons/icons.eot?dpo8lb');
  src:  url('/fonts/icons/icons.eot?dpo8lb#iefix') format('embedded-opentype'),
    url('/fonts/icons/icons.ttf?dpo8lb') format('truetype'),
    url('/fonts/icons/icons.woff?dpo8lb') format('woff'),
    url('/fonts/icons/icons.svg?dpo8lb#i') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ruminate' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Folder-Outlined:before {
  content: "\e90d";
}
.icon-Close:before {
  content: "\e900";
}
.icon-Drop-Down-Indicator:before {
  content: "\e901";
}
.icon-Drop-Down-Indicator-Outline:before {
  content: "\e902";
}
.icon-Folder:before {
  content: "\e903";
}
.icon-Locked-Folder:before {
  content: "\e904";
}
.icon-Locked-Folder-Outline:before {
  content: "\e905";
}
.icon-Lock:before {
  content: "\e906";
}
.icon-Note:before {
  content: "\e907";
}
.icon-Note-Outline:before {
  content: "\e908";
}
.icon-Plus:before {
  content: "\e909";
}
.icon-Search:before {
  content: "\e90a";
}
.icon-Settings:before {
  content: "\e90b";
}
.icon-Settings-Outline:before {
  content: "\e90c";
}
