<scope class="header" component="note-header">
	
	<input type="text" name="title" id="title-box" value=((test))>
	((test))
	<style>

		#title-box{
			color: white;
			background-color: #393939;
			text-decoration: none;
			border:none;
			outline: none;
			left:20px;
			right:20px;
			top:20px;
			bottom: 20px;
			position: absolute;
		}

		.header{
			color: white;
			position: absolute;
			height: 60px;
			left:10px;
			right:10px;
			top:10px;
			background-color: #393939;
			border-radius: 3px;
		}
	</style>
</scope>
