<import url="./note_header.html"/>
<import url="./note_body.html"/>

<scope id="note" component=note>

    <note-header/>

    <note-body></note-body>

    <script on=((loaded))>
        debugger
        updated = this.model;
    </script>

    <style>
    	textarea{
    		width:100%;
    		height: 100px;
    	}
        #note {
            position: absolute;
            top:0;
            left:0;
            right:0;
            bottom:0;
            height:100%;
            width:100%;
        }
    </style>
</scope>
